# replace the <LOGIN> and <PASSWORD> with your own private access
# information from launchpad
# OBS: these comments should be removed
machine private-ppa.launchpadcontent.net/fips-cc-stig/fips-under-certification login <LOGIN> password <PASSWORD>
