# This file ensures that we keep the device units created by the file with the
# same name in snapd/core-initrd.
SUBSYSTEM!="block", GOTO="ubuntu_core_partitions_end"
KERNEL=="loop*|mmcblk[0-9]boot[0-9]", GOTO="ubuntu_core_partitions_end"

PROGRAM=="/usr/bin/sh -c '[ -L /dev/disk/snapd/disk ] && [ $$(readlink -f /dev/disk/snapd/disk) = /dev/%k ]'", \
    SYMLINK+="disk/snapd/disk"
PROGRAM=="/usr/bin/sh -c '[ -L /dev/disk/snapd/ubuntu-seed ] && [ $$(readlink -f /dev/disk/snapd/ubuntu-seed) = /dev/%k ]'", \
    SYMLINK+="disk/snapd/ubuntu-seed"
PROGRAM=="/usr/bin/sh -c '[ -L /dev/disk/snapd/ubuntu-boot ] && [ $$(readlink -f /dev/disk/snapd/ubuntu-boot) = /dev/%k ]'", \
    SYMLINK+="disk/snapd/ubuntu-boot"
PROGRAM=="/usr/bin/sh -c '[ -L /dev/disk/snapd/ubuntu-data-luks ] && [ $$(readlink -f /dev/disk/snapd/ubuntu-data-luks) = /dev/%k ]'", \
    SYMLINK+="disk/snapd/ubuntu-data-luks"
PROGRAM=="/usr/bin/sh -c '[ -L /dev/disk/snapd/ubuntu-data ] && [ $$(readlink -f /dev/disk/snapd/ubuntu-data) = /dev/%k ]'", \
    SYMLINK+="disk/snapd/ubuntu-data"
PROGRAM=="/usr/bin/sh -c '[ -L /dev/disk/snapd/ubuntu-save-luks ] && [ $$(readlink -f /dev/disk/snapd/ubuntu-save-luks) = /dev/%k ]'", \
    SYMLINK+="disk/snapd/ubuntu-save-luks"
PROGRAM=="/usr/bin/sh -c '[ -L /dev/disk/snapd/ubuntu-save ] && [ $$(readlink -f /dev/disk/snapd/ubuntu-save) = /dev/%k ]'", \
    SYMLINK+="disk/snapd/ubuntu-save"

LABEL="ubuntu_core_partitions_end"

ENV{DM_UUID}=="CRYPT-*", ENV{DM_NAME}=="ubuntu-data-*", SYMLINK+="disk/snapd/ubuntu-data"
ENV{DM_UUID}=="CRYPT-*", ENV{DM_NAME}=="ubuntu-save-*", SYMLINK+="disk/snapd/ubuntu-save"
