[Unit]
RequiresMountsFor=/run/mnt/ubuntu-boot
ConditionPathExists=/run/mnt/ubuntu-boot/EFI/ubuntu/grub.cfg
ConditionKernelCommandLine=snapd_recovery_mode=run

[Mount]
Where=/boot/grub
What=/run/mnt/ubuntu-boot/EFI/ubuntu
Type=none
Options=bind
