[Unit]
Description=Display state on splash
After=plymouth-start.service
ConditionKernelCommandLine=snapd_recovery_mode=install
ConditionPathExists=/run/plymouth/pid

[Service]
ExecStart=-/bin/plymouth display-message --text='Installing Ubuntu Core...'
Type=oneshot
TimeoutSec=20
