[Unit]
Description=Display state on splash
After=plymouth-start.service
ConditionKernelCommandLine=snapd_recovery_mode=run
ConditionPathExists=/run/plymouth/pid

[Service]
ExecStart=-/bin/plymouth display-message --text='Starting system...'
Type=oneshot
TimeoutSec=20
