[Unit]
Description=Display state on splash
After=plymouth-start.service
ConditionPathExists=/run/plymouth/pid

[Service]
ExecCondition=sh -c 'test $(/usr/libexec/core/get-mode mode) = run'
ExecStart=-/bin/plymouth display-message --text='Starting system...'
Type=oneshot
TimeoutSec=20
