[Unit]
Description=Update Plymouth Boot Screen
After=plymouth-start.service snapd.service snapd.socket

[Service]
ExecCondition=sh -c 'test $(/usr/libexec/core/get-mode mode) = run'
ExecStart=-/usr/bin/splash-client
