[Unit]
DefaultDependencies=no
Before=initrd-fs.target

After=sysroot.mount
Wants=sysroot.mount

After=run-mnt-kernel.mount
After=snap-initramfs-mounts.service

[Mount]
What=/run/mnt/kernel/firmware
Type=none
Options=bind
