name: Release snap

on:
  workflow_dispatch:
  schedulue:
    - cron: "0 3 * * *"

jobs:
  build_release:
    runs-on: ubuntu-latest
    environment: store
    steps:
      - name: Build and release to beta channel
        env:
          LP_CREDENTIALS: ${{ secrets.LP_CREDENTIALS }}
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
        uses: snapcore/system-snaps-cicd-tools/action-rebuild-base@main
