name: Spread tests
on:
  schedule:
    # Weekly sunday testing for bitrot
    - cron: '0 12 * * 0'
  push:
    branches:
      - main
      - 'core[0-9][0-9]'
  pull_request:
    branches:
      - main
      - 'core[0-9][0-9]'

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: [self-hosted, spread-enabled]
    steps:
      - name: Cleanup job workspace
        id: cleanup-job-workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - uses: actions/checkout@v4

      - name: Build snap
        run: |
          spread -artifacts=./artifacts google-nested:tests/spread/build/
          find ./artifacts -type f -name "*.artifact" -exec cp {} "${{ github.workspace }}" \;
      
      - uses: actions/upload-artifact@v4
        with:
          name: core-snap
          path: "${{ github.workspace }}/core22.artifact"

      - name: Discard spread workers
        if: always()
        run: |
          shopt -s nullglob
          for r in .spread-reuse.*.yaml; do
            spread -discard -reuse-pid="$(echo "$r" | grep -o -E '[0-9]+')"
          done

  tests-main:
    runs-on: [self-hosted, spread-enabled]
    needs: build
    steps:
      - name: Cleanup job workspace
        id: cleanup-job-workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: core-snap
          path: "${{ github.workspace }}/core22.artifact"
      
      - name: Run tests
        uses: ./.github/actions/run-spread-tests
        with:
          spread-command: spread google-nested:tests/spread/main/

      - name: Discard spread workers
        if: always()
        run: |
          shopt -s nullglob
          for r in .spread-reuse.*.yaml; do
            spread -discard -reuse-pid="$(echo "$r" | grep -o -E '[0-9]+')"
          done
  tests-snapd:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Cleanup job workspace
        id: cleanup-job-workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      
      - uses: actions/checkout@v4
        with:
          path: core-base
      - uses: actions/checkout@v4
        with:
          repository: 'snapcore/snapd'
          path: snapd
      - uses: actions/download-artifact@v4
        with:
          name: core-snap
      
      - name: Install spread
        run: curl -s https://storage.googleapis.com/snapd-spread-tests/spread/spread-amd64.tar.gz | sudo tar xzv -C /usr/bin

      - name: Build image
        working-directory: '${{ github.workspace }}'
        run: |
          . "core-base/tests/lib/prepare-utils.sh"

          echo "************* INSTALLING DEPS *************"
          install_core22_deps

          echo "************* DOWNLOADING SNAPS *************"
          download_core22_snaps 'edge'

          echo "************* WRITING CLOUD-INIT CONFIG *************"
          prepare_core22_cloudinit

          echo "************* BUILDING CORE22 IMAGE *************"
          uc_snap="$(get_core_snap_name)"
          mv core22.artifact "$uc_snap"
          build_core22_image

          echo "************* STARTING CORE22 VM *************"
          start_snapd_core_vm '${{ github.workspace }}'

      - name: Run snapd spread
        uses: ./core-base/.github/actions/run-spread-tests
        with:
          working-directory: snapd
          spread-command: SPREAD_EXTERNAL_ADDRESS=localhost:8022 spread external:ubuntu-core-22-64:tests/smoke/

      - name: Discard spread workers
        if: always()
        run: |
          shopt -s nullglob
          for r in .spread-reuse.*.yaml; do
            spread -discard -reuse-pid="$(echo "$r" | grep -o -E '[0-9]+')"
          done

